{% load blog_tags static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Brian Jinwright{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='icon' href='favicon.ico' type='image/x-icon'/ >
    {% block head %}{% endblock %}
    {% block css %}
    <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans|Permanent+Marker" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="body">
<div class="content">
<nav>{% block nav %}
    <ul>
        <li class="logo"><a href="{% url 'post-list' %}">Jinwright</a></li>
    </ul>
    {% endblock %}
</nav>
    {% block body %}

    {% endblock %}
</div>
<aside>


    <h3>Categories</h3>
    {% cat_list %}

{% comment %}
<a href="{% url 'feed' %}" class="button rss-feed">RSS Feed</a>
<a href="http://feedly.com/i/welcome/feed/https://www.jinwright.net/feed/" class="button feedly">Follow on Feedly</a>
{% endcomment %}
</aside>
</div>

{% block body_end %}{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88446789-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>