boto==2.43.0
boto3==1.4.1
Django==1.10.3
django-braces==1.10.0
django-ckeditor==5.1.1
django-redis==4.6.0
django-s3direct==0.4.4
django-static-version==0.1
django-storages==1.5.1
envs==0.3.0
MySQL-python==1.2.5
Unipath==1.1
zappa==0.31.0
